/* html body {
    background-color: #4240A3;
}  */

body {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

.projects{
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.fixed-bottom{
    text-align: center;
}

.logo{
    height: auto;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.contactCard{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.display-4{
    color: #6361ed;
}

/* parallax */
.milkyWay{
    background-image: url('./assets/css/images/milkyWay.jpg');
    min-height: 100%;
}

.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }

  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }