/* html{
    display: flex;
} */

body {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

.projects{
    text-align: center;
    padding: 2rem;
    font-size: 5rem;
}

.logo{
    height: auto;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom: 20px;
}

.contactCard{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.lead{
    position: absolute;
    padding-left: 50px;
    padding-right:200px;
    padding-top: 170px;
    color: #6361ed;
    font-size: 4rem;
}

li{
    font-size: 2rem;
    float: right;
    padding: 5px;
    display: inline-block;
    padding: 20px;
    padding-left: 20px;
}

.milkyWay{
    display: flex;
    object-fit: cover;
    /* width: 100%; */
}

img{
    width: 100%;
}

.name{
    position: absolute;
    padding-left: 5px;
    padding-right:200px;
    padding-top: 60px;
    color: #6361ed;
    font-size: 5rem;
}

.icons{
    position: fixed;
}

.card-title{
    text-align: center;
}

.btn{
    justify-content: center;
    display: flex;
}

