/* html body {
    background-color: #4240A3;
}  */

body {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

.projects{
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.fixed-bottom{
    text-align: center;
}

.logo{
    height: auto;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.contactCard{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}